---
- name: Have directory for building software from source
  file:
    path: "{{ repository_path }}"
    state: directory

- name: Customization
  block:
    - name: Have bashrc
      copy:
          src: bashrc
          dest: "{{ ansible_user_dir }}/.my-bashrc"

    - name: Source bashrc
      lineinfile:
        path: "{{ ansible_user_dir }}/.bashrc"
        line: "source {{ ansible_user_dir }}/.my-bashrc"


- name: Install packages
  become: true
  package:
    name:
      - binfmt-support
      - binutils-mipsel-linux-gnu
      - binwalk
      - gcc-mipsel-linux-gnu
      - git
      - qemu-system-mips
      - qemu-user-static
      - screen

- name: GDB
  block:
    - name: Install
      become: true
      package:
        name:
          - gdb-multiarch

    - name: Have gef
      git:
        repo: "{{ gef_repo }}"
        dest: "{{ gef_dir }}"

    - name: Have gdbinit
      template:
          src: "gdbinit"
          dest: "{{ ansible_user_dir }}/.gdbinit"
          mode: 0775

- name: Have qemu binfmt dir
  become: true
  file:
    path: /etc/qemu-binfmt
    state: directory

- name: Point to MIPS root
  become: true
  file:
    dest: /etc/qemu-binfmt/mipsel
    src: /usr/mipsel-linux-gnu
    state: link

- name: Sasquatch
  block:
    - name: Install prerequisites
      become: true
      package:
        name:
          - build-essential
          - liblzma-dev
          - liblzo2-dev
          - zlib1g-dev

    - name: Have source code
      git:
        repo: "{{ sasquatch_repo }}"
        dest: "{{ sasquatch_dir }}"
        update: no

    - name: Build sasquatch
      become: true
      shell:
        chdir: "{{ sasquatch_dir }}"
        cmd: "./build.sh"
        creates: /usr/local/bin/sasquatch

- name: Ghidra
  block:
    - name: Install Java
      become: true
      package:
        name:
          - openjdk-19-jdk

    - name: Have Ghidra
      become: true
      unarchive:
          src: "{{ ghidra_url }}"
          remote_src: yes
          dest: /opt
          creates: "{{ ghidra_path }}"

    - name: Have processor manual paths
      become: true
      file:
          path: "{{ ghidra_path }}/Ghidra/Processors/MIPS/data/manuals"
          recurse: yes
          state: directory

    - name: Give processor manuals to Ghidra
      become: true
      copy:
          src: MD00087-2B-MIPS64BIS-AFP-6.06.pdf
          dest: "{{ ghidra_path }}/Ghidra/Processors/MIPS/data/manuals"

    - name: Have desktop icon
      template:
          src: "Ghidra.desktop"
          dest: "{{ icon_install_path }}"
          mode: 0775

- name: Saleae
  block:
    - name: Get Saleae software
      become: true
      unarchive:
          remote_src: yes
          src: "{{saleae_url}}"
          dest: "/opt"
          creates: "{{saleae_path}}"

    - name: Symlink Saleae
      become: true
      file:
          src: "{{saleae_path}}"
          dest: /opt/saleae
          state: link

    - name: Make Saleae directories writable
      become: true
      file:
          mode: 0777
          path: "{{item}}"
      with_items:
          - "{{saleae_path}}"
          - "{{saleae_path}}/Databases"
          - "{{saleae_path}}/Settings"

    - name: Have Saleae udev rules
      become: true
      file:
          src: /opt/saleae/Drivers/99-SaleaeLogic.rules
          dest: /etc/udev/rules.d/99-SaleaeLogic.rules
          state: link
      notify: Reload udevd

    - name: Have a Saleae icon image
      become: true
      copy:
          src: Saleae.jpg
          dest: /opt/saleae/Saleae.jpg

    - name: Have a Saleae desktop icon
      copy:
          src: Saleae Logic Analyzer.desktop
          dest: "{{ icon_install_path }}"
          mode: 0775

- name: tftp server
  become: true
  block:
    - name: Install server
      package:
        name:
          - tftpd-hpa
    - name: Reconfigure
      lineinfile:
        path: /etc/default/tftpd-hpa
        line: TFTP_OPTIONS="--permissive --create --secure"
        regexp: '^TFTP_OPTIONS="--secure"'
      notify: Restart tftp server
